@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Dancing+Script:wght@400;500;600;700&display=swap');
@import '~mdb-ui-kit/css/mdb.min.css';


.title{
  text-align: center;
  font-family: 'Cinzel', serif;
  margin-top: 1rem;
  font-size: 4vw;
}

.leaderboard-container {
  position:fixed;
}

@media (max-width: 768px) {
  .title{
    font-size: 10vw;
  }

  .leaderboard-container {
  position:sticky;
}


  
}
